body{
    background-color: tomato;
}
ul{
    background-color: turquoise;
}
button{
    background-color: thistle;
    border: 2px solid black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}